* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  color: hsl(260, 8%, 14%);
}

/* nav {
  background-color: ;
} */

#topNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: hsl(260, 8%, 14%);
}

#topNav ul {
  display: flex;
  justify-content: space-between;
}

#topNav li {
  padding: 5px 10px;
}

#topNav a {
  color: hsl(260, 8%, 14%);
}

#topNav p {
  padding: 5px 10px;
}

#topNav .logoText {
  font-size: larger;
  font-weight: bold;
}

#topNav #upNavLeft {
  display: flex;
  justify-items: left;
}

#topNav #upNavRight {
  display: flex;
  justify-content: flex-end;
}


#bottomNav{
  background-color: hsl(260, 8%, 14%);
}

.container {
  background-color: hsl(257, 27%, 26%);
  padding: 5px;
  border: 2px solid black;
  width: 600px;
}

main {
  background-color:hsl(257, 7%, 63%);
  color: hsl(260, 8%, 14%);
}

.infoStats {
  background-color: white;
  color: hsl(260, 8%, 14%);
  width: 300px;
}

/* .tl_image {
  background-color: hsl(257, 27%, 26%);
  border-radius: 50px;
  width: 46px 46px;
} */

#getStarted{
  background-color: hsl(257, 27%, 26%);
  color: white;
}

button{
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
  border-style:none;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

/* .poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
} */